<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>219882897139-1l85n4luedah6g3659045k5n5aujv2cj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.219882897139-1l85n4luedah6g3659045k5n5aujv2cj</string>
	<key>API_KEY</key>
	<string>AIzaSyCj8miVRiqBK7aXtDh1ydXNpsWL9l1Dyuo</string>
	<key>GCM_SENDER_ID</key>
	<string>219882897139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caesar.cryptocurrency</string>
	<key>PROJECT_ID</key>
	<string>cryptotweets-14c7b</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptotweets-14c7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:219882897139:ios:bfdc73a6ae0a6dc1</string>
	<key>DATABASE_URL</key>
	<string>https://cryptotweets-14c7b.firebaseio.com</string>
</dict>
</plist>